@import url("css/styles.css");

/********** MEDIA QUERIES **********/

/******************** MEDIA QUERY - MEDIUM SCREEN SIZES - MIN 640PX ******************************/

@media (min-width: 640px) {

    /* BASIC STYLES */

    body {
        margin-top: 0;
        width: 100%;
        line-height: 1em;
    }

    .content-wrapper {
        width: 90%;
        margin: 0 auto;
        padding-top: 7em;
        font-size: 1.25em;
        line-height: 1.5em;
    }

    .help-content-wrapper {
        width: 70%;
        margin: 0 auto;
        font-size: 1.2em;
        line-height: 1.4em;
        padding: 3em 0;
    }

    .page-title {
        font-size: 2em;
        margin-top: -9em;
        opacity: 0.99;
    }

    .subtitle {
        font-size: 1.5em;
        margin-top: 4em;
        margin-left: -2em;
        opacity: .7;
    }

    .main-header {
        display: block;
        /* margin: 0 auto; */
        width: 100%;
        height: auto;
    }

    .header-bkgd {
        width: 100%;
        height: 50vh;
        background-color: #1b79a8;
        background-image: url("https://static.pexels.com/photos/374906/pexels-photo-374906.jpeg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        opacity: 0.5;
        z-index: -4;
    }

    /*************** DONATE PAGE  **********************/

    .donate-content-wrapper {
        width: 80%;
        margin: 0 auto;
        padding: 5em 0;
        font-size: 1.2em;
        line-height: 1.4em;
    }

    #donate-icon {
        float: right;
        padding-left: 3em;
        padding-bottom: 3em;
    }

    /*********** INDEX PAGE *****************/

    /* GRID CONTAINER - INDEX PAGE */

    .item {
        padding: 1em 0;
    }

    .item-img {
        justify-self: center;
    }

    .item-a {
        grid-area: item-a;
    }

    .item-b {
        grid-area: item-b;
    }

    .item-c {
        grid-area: item-c;
    }

    .main-col {
        grid-area: main;
        justify-self: start;
    }

    .main-col-heading {
        line-height: 2em;
    }

    .sidebar {
        grid-area: sidebar;
    }

    

    
    .main-grid {
        margin-top: 1em;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 2fr auto;
        grid-column-gap: 2em;
        grid-row-gap: 3em;
        justify-content: space-evenly;
        grid-template-areas: 
        "item-a item-b item-c"
        "main main sidebar";
        font-size: 1em;
    }

    .footer-bar {
        margin: 1em 0;
        justify-self: center;
    }
    
    /* NAVIGATION */
    
    .nav-list {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
    }

    .nav-list ul {
        width: 80%;
        
    }

    .nav-list li {
        flex: 0 1 auto;
    }

    .nav-list li a {
        margin-top: 0.5em;
        line-height: 1em;
        margin-bottom: 0.5em;
    }
 
    .active {
        border-bottom: 5px solid navy;
    }

    /************* PET DISPLAY PAGE (ADOPTABLE ANIMALS) ******************/

    .pet-display-page-wrapper {
        padding: 3em 0;
    }

    #firstRow {
        justify-content: space-between;
        align-items: space-between;
        padding-top: 2em;
    }

    /* Pet Card Div */
    #firstRow > div {  /* pet card Div */
        display: flex;
        flex-flow: column nowrap;
        flex: 1 1 30%;
        text-align: center;
        padding: 0.5em;
        background-color: #ffffff;
        margin: 0.5em;
        line-height: 1.5;
        border-top: 1px solid lightgray;
        border-left: 1px solid lightgray;
        border-bottom: 4px solid lightgray;
        border-right: 4px solid lightgray;
    }
    
    /******* CONTACT PAGE  *******/

    .contact-content-wrapper {
        margin: 0 auto;
        padding-top: 3em;
        font-size: 1.25em;
        line-height: 1.5em;
        width: 80%
    }

    .contact-phone-icon {
        grid-area: phone-icon;
        justify-self: left;
        padding-right: 2em;
        align-self: center;
    }
    
    .contact-address-icon {
        grid-area: address-icon;
        justify-self: left;
        padding-right: 2em;
        align-self: center;
    }
    
    .contact-fax-icon {
        grid-area: fax-icon;
        justify-self: left;
        padding-right: 2em;
        align-self: center;
    }
    
    .contact-address-info,
    .contact-fax-info,
    .contact-phone-info {
        font-size: 20px;
    }
    
    .contact-phone-info {
        grid-area: phone-info;
        justify-self: left;
        align-self: center;
    }
    
    .contact-address-info {
        grid-area: address-info;
        justify-self: left;
        align-self: center;
    }
    
    .contact-fax-info {
        grid-area: fax-info;
        justify-self: left;
        align-self: center;
    }

    .message-box {
        align-self: center;
    }

    .contact-grid {
        display: grid;
        grid-template-columns: 1fr 3em 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "title title title title"
            "address-icon . message message"
            "address-info . message message"
            "phone-icon . message message"
            "phone-info . message message"
            "fax-icon . message message"
            "fax-info . message message"
            "map map map map";
    }

    #map-sm {
        display: none;
    }

    #map-md {
        display: block;
    }

    #map-lg {
        display: none;
    }

    .message-box input{
        position: relative;
        width: 100%;
    }

    .map-div {
        justify-content: center;
    }

    /********** ABOUT PAGE STYLING **********/

    .about-image {
        float: right;
    }

    /* FOOTER */

    footer {
        width: 90%;
        margin: 0 auto;
        padding: 0;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
    }
    
    .soc-icons {
        flex-basis: 1 1 auto;
    }
    
    /* ALL soc icon styling */
    .fa {
        margin: 1em 0.5em;
        padding: 10px;
        font-size: 30px;
        width: 50px;
        text-align: center;
        text-decoration: none;
        box-sizing: content-box;
    }
}


/******************** MEDIA QUERY - LARGE SCREEN SIZES - MIN 900PX ******************************/

@media (min-width: 900px) {
    
    /***** BASIC STYLES *****/

    body {
        margin-top: 0;
        width: auto;
        line-height: 1em;
        font-size: 1em;
    }

    /***** INDEX PAGE STYLES*****/

    /****  Header Styles ****/

    .page-title {
        font-size: 4.5em;
        color: black;
        opacity: 0.99;
        margin: -9em 0 6em 2em;
    }

    .subtitle {
        font-size: 2.5em;
        color: #333;
        margin: -4em 0 1em 4em;
        opacity: 0.8;
    }

    .main-header {
        display: block;
        width: 100%;
    }

    .header-bkgd {
        width: 100%;
        height: 100vh;
        background-color: #1b79a8;
        background-image: url("https://static.pexels.com/photos/374906/pexels-photo-374906.jpeg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        opacity: 0.5;
        z-index: -4;
    }

    /**** Main Content Section Styling  ****/ 

    .main-grid {
        margin: 1em;
        font-size: 1em;
    }

    .item {
        padding: 1em 0;
    }

    .item-img img{
        border-radius: 50%;
    }


    /* Adoptable Pet Page */

    #firstRow {
        justify-content: space-between;
        align-items: space-between;
    }

    #firstRow > div {  /* pet card Div */
        display: flex;
        flex-flow: column nowrap;
        flex: 0 0 25%;
        text-align: center;
        padding: 0.5em;
        background-color: #ffffff;
        margin: 0.5em;
        border-radius: 5%;
        line-height: 1.5;
    }

    .lb-img-div img {
        max-width: 300px;
        height: auto;
    }

    /********** CONTACT PAGE STYLING *******/

    .contact-phone-icon {
        grid-area: phone-icon;
        justify-self: right;
        padding-right: 2em;
    }
    
    .contact-address-icon {
        grid-area: address-icon;
        justify-self: center;
        padding-right: 2em;
    }
    
    .contact-fax-icon {
        grid-area: fax-icon;
        justify-self: right;
        padding-right: 2em;
    }
    
    .contact-address-info,
    .contact-fax-info,
    .contact-phone-info {
        font-size: 20px;
    }
    
    .contact-phone-info {
        grid-area: phone-info;
        justify-self: left;
    }
    
    .contact-address-info {
        grid-area: address-info;
        justify-self: left;
    }
    
    .contact-fax-info {
        grid-area: fax-info;
        justify-self: left;
    }

    .contact-grid {
        display: grid;
        grid-template-columns: 5em 15em 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "title title title title"
            "address-icon address-info message message"
            "phone-icon phone-info message message"
            "fax-icon fax-info message message"
            "map map map map";

    }

    #map-sm {
        display: none;
    }

    #map-md {
        display: none;
    }

    #map-lg {
        display: block;
    }

    .map-div {
        justify-content: center;
    }

    /* FOOTER */
    footer {
        width: 80%;
        margin: 0 auto;
        padding: 0;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
    }
    
    .soc-icons {
        flex-basis: 0 1 auto;
    }
    
    /* ALL soc icon styling */
    .fa {
        margin: 1em 0.5em;
        padding: 20px;
        font-size: 30px;
        width: 50px;
        text-align: center;
        text-decoration: none;
    }
}

/******************** MEDIA QUERY - X-LARGE SCREEN SIZES - MIN 1200PX ******************************/
@media (min-width: 1200px) {

    /* Pet card div */
    #firstRow > div {
        flex: 0 0 20%;
    }
}