@import url("css/styles.css");

/********** MEDIA QUERIES **********/

/******************** MEDIA QUERY - MEDIUM SCREEN SIZES - MIN 640PX ******************************/

@media (min-width: 640px) {

    /* BASIC STYLES */

    body {
        margin-top: 0;
        width: auto;
        line-height: 1em;
    }

    .page-title {
        font-size: 2em;
    }

    .subtitle {
        font-size: 1.5em;
    }

    .main-header {
        display: block;
        /* margin: 0 auto; */
        width: 100%;
        height: auto;
    }

    .header-bkgd {
        width: 100%;
        height: 50vh;
        background-color: #1b79a8;
        background-image: url("https://static.pexels.com/photos/374906/pexels-photo-374906.jpeg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        opacity: 0.5;
        z-index: -4;
    }

    .content-wrapper {
        margin: 0 auto;
        padding-top: 5em;
        font-size: 1.25em;
        line-height: 1.5em;
        width: 80%
    }

    /*************** INDEX PAGE ************************/

    /* GRID CONTAINER - INDEX PAGE */

    .item {
        display: flex;
        flex-direction: column;
        justify-items: center;
    }

    .item-img {
        margin: auto;
    }

    .item-a {
        grid-area: item-a;
    }

    .item-b {
        grid-area: item-b;
    }

    .item-c {
        grid-area: item-c;
    }

    .item-img img{
        border-radius: 50%;
    }

    .main-col {
        grid-area: main;
    }

    .sidebar {
        grid-area: sidebar;
    }

    .footer-bar {
        grid-area: footer-bar;
        justify-self: center;
    }

    
    .main-grid {
        margin-top: 0.5em;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 2fr auto 1fr;
        grid-column-gap: 2em;
        grid-row-gap: 3em;
        justify-items: center;
        grid-template-areas: 
        "item-a item-b item-c"
        "main main sidebar"
        "footer-bar footer-bar footer-bar";
    }
    
    /* NAVIGATION */
        .nav-list {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
    }

    .nav-list ul {
        width: 80%;
        
    }

    .nav-list li {
        flex: 0 1 auto;
    }

    .nav-list li a {
        margin-top: 0.5em;
        line-height: 1em;
        margin-bottom: 0.5em;
    }

    li a:hover:not(.active) {
        border-bottom: 5px solid navy;
    }
    
    .active {
        border-bottom: 5px solid navy;
    }

    /* Adoptable Pet Display Page */
    #firstRow {
        justify-content: space-between;
        align-items: space-between;
    }

    /* Pet Card Div */
    #firstRow > div {  /* pet card Div */
        display: flex;
        flex-flow: column nowrap;
        flex: 1 1 30%;
        text-align: center;
        padding: 0.5em;
        background-color: #ffffff;
        margin: 0.5em;
        border-radius: 5%;
        line-height: 1.5;
    }
    
    /******* CONTACT PAGE  *******/

    .contact-title {
        grid-area: title;
        
    }
    .contact-info {
        grid-area: info;
    }

    .message-box {
        grid-area: message;
    }

    .map-div {
        grid-area: map;
        justify-self: center;
        margin: 2em 0;
    }

    .contact-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "title title"
            "info message"
            "map map";
        justify-items: left;
    }

    #map-sm {
        display: none;
        border: 3px solid var(--primary-blue);
    }

    #map-md {
        display: block;
        border: 5px solid var(--primary-blue);
    }

    #map-lg {
        display: none;
        border: 5px solid var(--primary-blue);
    }

    .message-box input{
        width: 100%;
    }

    /*********************** ABOUT PAGE STYLING ************************/

    .about-image {
        float: right;
    }

    /* FOOTER */

    footer {
        width: 90%;
        margin: 0 auto;
        padding: 0;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
    }
    
    .soc-icons {
        flex-basis: 1 1 auto;
    }
    
    /* ALL soc icon styling */
    .fa {
        margin: 1em 0.5em;
        padding: 10px;
        font-size: 15px;
        width: 25px;
        text-align: center;
        text-decoration: none;
    }
}


/******************** MEDIA QUERY - LARGE SCREEN SIZES - MIN 900PX ******************************/

@media (min-width: 900px) {
    
    /* BASIC STYLES */

    body {
        margin-top: 0;
        width: auto;
        line-height: 1em;
    }

    .page-title {
        font-size: 4.5em;
        color: black;
        opacity: 0.99;
        margin: -9em 0 6em 2em;
    }

    .subtitle {
        font-size: 2.5em;
        color: #333;
        margin: -4em 0 7em 4em;
        opacity: 0.8;
    }

    .main-header {
        display: block;
        /* margin: 0 auto; */
        width: 100%;
        height: auto;
    }

    .header-bkgd {
        width: 100%;
        height: 100vh;
        background-color: #1b79a8;
        background-image: url("https://static.pexels.com/photos/374906/pexels-photo-374906.jpeg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        opacity: 0.5;
        z-index: -4;
    }

    /* Adoptable Pet Page */

    #firstRow {
        justify-content: space-between;
        align-items: space-between;
    }

    #firstRow > div {  /* pet card Div */
        display: flex;
        flex-flow: column nowrap;
        flex: 0 0 25%;
        text-align: center;
        padding: 0.5em;
        background-color: #ffffff;
        margin: 0.5em;
        border-radius: 5%;
        line-height: 1.5;
    }

    .lb-img-div img {
        max-width: 300px;
        height: auto;
    }

    /* CONTACT PAGE STYLING */

    #map-sm {
        display: none;
        border: 3px solid var(--primary-blue);
    }

    #map-md {
        display: none;
        border: 5px solid var(--primary-blue);
    }

    #map-lg {
        display: block;
        border: 5px solid var(--primary-blue);
    }

    /* FOOTER */
    footer {
        width: 80%;
        margin: 0 auto;
        padding: 0;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
    }
    
    .soc-icons {
        flex-basis: 0 1 auto;
    }
    
    /* ALL soc icon styling */
    .fa {
        margin: 1em 0.5em;
        padding: 20px;
        font-size: 30px;
        width: 50px;
        text-align: center;
        text-decoration: none;
    }
}

/******************** MEDIA QUERY - X-LARGE SCREEN SIZES - MIN 1200PX ******************************/
@media (min-width: 1200px) {

    /* Pet card div */
    #firstRow > div {
        flex: 0 0 20%;
    }
}