@import url("css/styles.css");

/********** MEDIA QUERIES **********/

/* MEDIUM SCREENS */

@media (min-width: 640px) {

    /* BASIC STYLES */
    .main-header {
        display: block;
        margin: 0 auto;
        width: 100%;
        height: auto;
    }

    .header-bkgd {
        width: 100%;
        height: 80vh;
        background-color: #1b79a8;
        background-image: url("https://static.pexels.com/photos/374906/pexels-photo-374906.jpeg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        opacity: 0.5;
        z-index: -4;

    }

    .page-title{  /* H1 in Header */
        padding: 25px;
        z-index: 20;
        color: black;
        font-size: 4.5em;
        opacity: 0.99;
        margin-top: -7em;
        margin-left: 1em;
        margin-bottom: 6em;
    }

    .content-wrapper {
        margin: 0 auto;
        width: 80%;
        display: flex;
        flex: 0 1 auto;
        justify-content: space-evenly;
    }

    .first-col {
        width: 60%;
    }
    
    .second-col {
        width: 20%;
    }
    
    /* NAVIGATION */
    

    .nav-list {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
    }

    .nav-list ul {
        width: 80%;
        
    }

    .nav-list li {
        flex: 0 1 auto;
    }

    /* Adoptable Pet Display Page */
    #firstRow {
        justify-content: space-between;
    }

    /* Pet Card Div */
    #firstRow > div {  /* pet card Div */
        display: flex;
        flex-flow: column nowrap;
        flex: 1 1 30%;
        text-align: center;
        padding: 0.5em;
        background-color: #ffffff;
        margin: 0.5em;
        border-radius: 5%;
        line-height: 1.5;
    }

    /* FOOTER */

    footer {
        width: 90%;
        margin: 0 auto;
        padding: 0;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
    }
    
    .soc-icons {
        flex-basis: 1 1 auto;
    }
    
    /* ALL soc icon styling */
    .fa {
        margin: 1em 0.5em;
        padding: 10px;
        font-size: 15px;
        width: 25px;
        text-align: center;
        text-decoration: none;
    }
}

/* LARGE SCREENS */ 

@media (min-width: 900px) {
    
    /* BASIC STYLES */
    body {
        margin-top: 0;
        width: auto;
    }

    /* Adoptable Pet Page */

    #firstRow {
        justify-content: space-around;
    }

    #firstRow > div {  /* pet card Div */
        display: flex;
        flex-flow: column nowrap;
        flex: 0 0 25%;
        text-align: center;
        padding: 0.5em;
        background-color: #ffffff;
        margin: 0.5em;
        border-radius: 5%;
        line-height: 1.5;
    }

    /* FOOTER */
    footer {
        width: 80%;
        margin: 0 auto;
        padding: 0;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
    }
    
    .soc-icons {
        flex-basis: 0 1 auto;
    }
    
    /* ALL soc icon styling */
    .fa {
        margin: 1em 0.5em;
        padding: 20px;
        font-size: 30px;
        width: 50px;
        text-align: center;
        text-decoration: none;
    }
}

/***** XL SCREENS ******/
@media (min-width: 1200px) {

    /* Pet card div */
    #firstRow > div {
        flex: 0 0 20%;
    }
}