@import url("css/mq.css");

/********* VARIABLES ***********/

/********* BASIC STYLES ***********/

body {
    font-family: 'Josefin Sans', sans-serif;
    width: 80%;
    background-color: #fff;
    color: #45454b;
    box-sizing: border-box;  
}

.page-title {
    margin: 1em 1em;
}

.content-wrapper {
    width: 80%;
    margin: 0 auto;
}


/********* FORM STYLES **********/

.section-title {
    padding-top: 1rem;
};

.first-row {
    padding-top: 2rem;
}

.lower-row {
    padding-top: 0.8rem;
}

/********* COMPONENTS ***********/
button {
    background-color: #1b79a8;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

/********* NAVBAR STYLING ***********/
.main-nav {
    width: 100%;
    display: block;
    margin: 0 auto;
}

.nav-list {
    list-style-type: none;
    padding: 1em 1em;
    background-color: #1b79a8;
    display: block;
    justify-content: space-between;
    margin: 0 auto;
}

.nav-list ul {
    display: block;
}

.nav-list li a {
    color: #fff;
    text-align: center;
    padding: .5em;
    text-decoration: none;
    font-size: 1.2em;
    display: block;
}

.logo {
    text-transform: uppercase;
    margin-top: 0;
    margin-left: 0;
}

li a:hover:not(.active) {
    background-color: #0000ff8a;
}

.active {
    background-color: #0000ff8A;
}

/********* PET DISPLAY PAGE STYLING ***********/

.pet-display-page-wrapper {
    width: 80%;
    margin: 0 auto;
    display: block;  
}

.pet-display-page-wrapper h1 {
    text-align: center;
}

.pet-display-page-wrapper > p {
    font-size: 1.2em;
}

#firstRow {  /* Starting container for pet display page */ 
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

#firstRow > div {  /* pet card Div */
    display: flex;
    flex-flow: column nowrap;
    align-content: space-around;
    flex: 1 1 50%;
    text-align: center;
    padding: 0.5em;
    background-color: #f4eade;
    margin: 0.5em;
    padding-top: 1em;
    border-radius: 5%;
    line-height: 1.5;
}

#firstRow > div > h3 {
    text-align: center;
}

#firstRow div img {
    width: 90%;
    height: height;
    border-radius: 5%;
    margin-top: 0.5em;
    box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.pet-data {
    width: 80%;
    text-align: left;
    margin: 2em;
}

.read-pet {
    width: 30%;
    justify-content: center;
}

/* ADOPTION APPLICATION STYLING */


/* FOOTER */

footer {
    width: 80%;
    margin: 0 auto;
    display: block;
    flex-flow: row nowrap;
    justify-content: center;
}

.soc-icons {
    flex-basis: 0 1 auto;
}

/* Style all font awesome icons */
.fa {
    margin: 1em 0.5em;
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
}
  
  .fa-youtube {
    background: #bb0000;
    color: white;
}
  
  .fa-instagram {
    background: #125688;
    color: white;
}
  
  .fa-pinterest {
    background: #cb2027;
    color: white;}
  
.fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}