@import url("css/mq.css");

/********* VARIABLES ***********/

/********* BASIC STYLES ***********/

body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    width: 100%;
    background-color: #fff;
    color: #45454b;
}

a {
    text-decoration: none;
}

.page-title {
    margin: 1em 1em;
}

.subtitle {
    margin: 1em 1em;
}

.content-wrapper {
    width: 80%;
    margin: 0 auto;
}

.main-grid {
    display: block;
}

.bus-list ul {
    list-style: none;
}



/********* FORM STYLES **********/

.section-title {
    padding-top: 1rem;
};

.first-row {
    padding-top: 2rem;
}

.lower-row {
    padding-top: 0.8rem;
}

/********* COMPONENTS ***********/
button {
    background-color: #1b79a8;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

/********* NAVBAR STYLING ***********/
.main-nav {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.nav-list {
    list-style-type: none;
    /* padding: 1em 1em; */
    background-color: #1b79a8;
    display: block;
    justify-content: space-between;
    margin: 0 auto;
}

.nav-list ul {
    display: block;
}

.nav-list li a {
    color: #fff;
    text-align: center;
    align-items: center;
    padding: .5em;
    text-decoration: none;
    font-size: 1.5em;
    display: block;
}

.logo {
    margin-top: 0;
    margin-left: 0;
}

/* li a:hover:not(.active) {
    background-color: navy;
}

.active {
    background-color: navy;
} */

/********* PET DISPLAY PAGE STYLING ***********/

.pet-display-page-wrapper {
    width: 80%;
    margin: 0 auto;
    padding-top: 1em;
    display: block; 
    line-height: 1.5em;
}

.pet-display-page-wrapper h1 {
    text-align: center;
}

.pet-display-page-wrapper > p {
    font-size: 1.2em;
}

#firstRow {  /* Starting container for pet display page */ 
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: space-between;
}

.pet-image-div {
    height: 200px;
    align-content: center;
}

#firstRow > div {  /* pet card Div */
    display: flex;
    height: auto;
    flex-flow: column nowrap;
    align-content: space-around;
    flex: 1 1 50%;
    text-align: center;
    padding: 0.5em;
    background-color: #f4eade;
    margin: 0.5em;
    padding-top: 1em;
    border-radius: 5%;
    line-height: 1.5;
}

.pet-name {
    padding-top: 1em;
    text-align: center;
}

#idNo {
    color: gray;
}

#firstRow div img {
    max-width: 300px;
    height: 90%;
    /* border-radius: 5%; */
    border: 1px solid #333;
    margin-top: 0.5em;
    padding: 7px;
    box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.pet-data {
    width: 80%;
    text-align: left;
    margin: 2em; 
}

.pet-button a {
    color: white;
    text-decoration: none;
}

.read-pet {
    width: 30%;
    justify-content: center;
}

/**********  LIGHTBOX ON PET PAGE **********/

.black_overlay{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.8;
	opacity:.80;
    filter: alpha(opacity=80);
    overflow: hidden;
}

.white_content {
	display: none;
	position: fixed;
	top: 5%;
	left: 5%;
	width: 90%;
	height: 90%;
	padding: 16px;
	border: 16px solid #333;
	background-color: white;
	z-index: 1002;
	overflow-x: scroll;
}

.lb-img-div {
    margin: 0.5em 1em;
    justify-content: center;
}

.lb-img {
    height: 300px;
    display: inline-block;
    padding: 1em;
}

.lb-desc {
    font-size: 1.15em;
    padding-top: 1em;
}

/*  ALT PET DISPLAY PAGE STYLING */

.title-div a{
    margin: 0 auto;
    display: inline-block;
} 

.icon {
    width: 100px;
    height: auto;
}

/* ADOPTION APPLICATION STYLING */

/* FOOTER */

footer {
    width: 80%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.soc-icons {
    flex-basis: 0 1 auto;
}

/* ALL soc icon styling */
.fa {
    margin: 1em 0.5em;
    padding: 10px;
    font-size: 15px;
    width: 25px;
    text-align: center;
    text-decoration: none;
}

/* Soc Icon hover effect */
.fa:hover {
    opacity: 0.7;
}

/* Colors for each */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}
  
  .fa-youtube {
    background: #bb0000;
    color: white;
}
  
  .fa-instagram {
    background: #125688;
    color: white;
}
  
  .fa-pinterest {
    background: #cb2027;
    color: white;}
  