/********* VARIABLES ***********/

/********* BASIC STYLES ***********/

body {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0 auto;
    background-color: #fff;
    color: #45454b;
    
}

.page-title {
    margin: 1em 1em;
}

.content-wrapper {
    display: block;
    margin: 0 auto;
    width: 80%;
    
}

/********* FORM STYLES **********/

.section-title {
    padding-top: 1rem;
};

.first-row {
    padding-top: 2rem;
}

.lower-row {
    padding-top: 0.8rem;
}

/********* COMPONENTS ***********/
button {
    background-color: #1b79a8;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

/********* NAVBAR STYLING ***********/
.main-nav {
    width: 100%;
}

.nav-list {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    background-color: #1b79a8;
    display: block;
    justify-content: center;
}

.nav-list ul {
    justify-content: center;
}

.nav-list li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 1em 1em;
    text-decoration: none;
    font-size: 1.2em;
}

li a:hover:not(.active) {
    background-color: #0000ff8a;
}

.active {
    background-color: #0000ff8A;
}

/********* PET DISPLAY PAGE STYLING ***********/

.pet-display-page-wrapper {
    width: 80%;
    margin: 0 auto;
}

#firstRow {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

#firstRow > div {  /* pet card Div */
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    padding: 1em 2em;
    background-color: #fff;
    margin: 1.5em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5%;
}


#firstRow > div > h3 {
    text-align: center;
}

#firstRow div img {
    width: 90%;
    height: height;
    border-radius: 5%;
    border: 1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.pet-data {
    width: 80%;
    text-align: left;
    margin: 2em;
}


/********** MEDIA QUERIES **********/

/* MEDIUM SCREENS */
@media (min-width: 640px) {

    /* BASIC STYLES */
    
    .main-header {
        width: auto;
        height: 60vh;
    }

    .header-bkgd {
        width: auto;
        height: 50vh;
        background-color: #1b79a8;
        background-image: url("https://static.pexels.com/photos/374906/pexels-photo-374906.jpeg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        opacity: 0.5;
        z-index: -4;

    }

    .page-title{  /* H1 in Header */
        margin: 0;
        padding: 25px;
        z-index: 20;
        color: black;
        font-size: 40px;
        opacity: 0.99;
        margin-top: -9em;
        margin-left: 1em;
    }
    
    /* NAVIGATION */
    .nav-list {
        display: flex;
        flex-flow: row nowrap;
    }

    .nav-list ul {
        width: 80%;
        justify-content: center;
    }

    .nav-list li {
        flex: 0 1 auto;
    }

    /* Adoptable Pet Display Page */
    #firstRow {
        justify-content: space-between;
    }

    #firstRow > div {
        flex: auto;
        padding: 2em 1em;
        margin: 1em 1em;
    }

    #firstRow > div > img {
        max-width: 30%;
    }
}

/* LARGE SCREENS */ 

@media (min-width: 900px) {
    
    /* BASIC STYLES */
    body {
        margin-top: 0;
    }


    ul {
        position: relative;
    }

    ul li {
        text-align: center;
        float: none;
    }

    /* Adoptable Pet Page */
    #firstRow {
        justify-content: space-between;
    }

    #firstRow > div {
        padding: 0.5em;
        margin: 0.5em;
        flex: auto;
    }
}