/********* VARIABLES ***********/

/********* BASIC STYLES ***********/


body {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0 auto;
    background-color: #fff;
    color: #45454b;
    
}

/****************** HEADER STYLES ***************/



.content-wrapper {
    margin: 20px;
    padding: 10px;
}



/********* FORM STYLES **********/

.section-title {
    padding-top: 1rem;
};

.first-row {
    padding-top: 2rem;
}

.lower-row {
    padding-top: 0.8rem;
}




/********* COMPONENTS ***********/
button {
    background-color: #1b79a8;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}


/********* NAVBAR STYLING ***********/

.nav-list {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    background-color: #1b79a8;
    
}

nav-list ul {
    width: 100%;
    text-align: center;
    margin: 0 auto;
}


.nav-list li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 1em 1em;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #0000ff8a;
}

.active {
    background-color: #0000ff8A;
}

/********* PET DISPLAY PAGE STYLING ***********/

#firstRow {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

}

#firstRow > div {
    flex: 0 0 15%;
    text-align: left;
    padding: 1em 2em;
    background-color: #fff;
    margin: 1.5em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5%;
}
#firstRow > div > h3 {
    text-align: center;
}

#firstRow div img {
    width: 100%;
    height: auto;
    border-radius: 5%;
    border: 1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/********** MEDIA QUERIES **********/

/* MEDIUM SCREENS */
@media (min-width: 600px) {

    /* BASIC STYLES */
    
    .main-header {
        width: 100%;
        height: 100vh;
        background-color: #1b79a8;
        background-image: url("https://static.pexels.com/photos/374906/pexels-photo-374906.jpeg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
   

    /* NAVIGATION */

    

    /* Adoptable Pet Display Page */
    #firstRow {
        justify-content: space-between;
    }

    #firstRow > div {
        flex: auto;
        padding: 2em 1em;
        margin: 1em 1em;
    }

    #firstRow > div > img {
        max-width: 30%;
    }
}

/* LARGE SCREENS */ 

@media (min-width: 900px) {
    
    /* BASIC STYLES */
    body {
        margin-top: 0;
    }

    ul {
        position: relative;
    }

    ul li {
        text-align: center;
        float: none;
    }


    /* Adoptable Pet Page */
    #firstRow {
        justify-content: space-between;
    }

    #firstRow > div {
        padding: 0.5em;
        margin: 0.5em;
        flex: auto;
    }
}