/********* VARIABLES ***********/

/********* BASIC STYLES ***********/


body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    background-color: #e5f3fa;
    color: #45454b;
    margin-top: 50px;
}



/********* FORM STYLES **********/

.section-title {
    padding-top: 1rem;
};

.first-row {
    padding-top: 2rem;
}

.lower-row {
    padding-top: 0.8rem;
}




/********* COMPONENTS ***********/
button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}


/********* NAVBAR STYLING ***********/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

/********* PET DISPLAY PAGE STYLING ***********/

#firstRow {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

}

#firstRow > div {
    flex: 0 0 15%;
    text-align: left;
    padding: 1em 2em;
    background-color: #fff;
    margin: 1.5em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5%;
}
#firstRow > div > h3 {
    text-align: center;
}

#firstRow div img {
    width: 100%;
    height: auto;
    border-radius: 5%;
    border: 1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/********** MEDIA QUERIES **********/

@media (max-width: 599px) {

    .navbar {
        width: 100%;
    }

    .navbar a {
        justify-content: center;
    }
    .dropdown {
        float: none;
        width: 100%;
        text-align: center;
}
