@import url("css/mq.css");

/********* VARIABLES ***********/

:root {
    --primary-blue: #1b79a8;
    --light-blue: #F2F3F5;
    --dark-gray: #45454b;
    --accent-navy: navy;
    --white: #fff;
}


/********* BASIC STYLES ***********/

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    width: 100vw;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #fff;
    color: var(--dark-gray);
}

a {
    text-decoration: none;
}

.content-wrapper {
    width: 80%;
    margin: 0 auto;
}

.help-content-wrapper {
    width: 90%;
    margin: 0 auto;
    font-size: 1.2em;
    line-height: 1.4em;
}

/********* COMPONENTS ***********/

button {
    background-color: var(--primary-blue);
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

/* Back to top button (on petdisplay page) */
#backToTopBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: var(--primary-blue); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

#backToTopBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}


/**** INDEX PAGE STYLING  ****/

.titles {
    margin: 0 auto;
    width: 80%;
}

.page-title {
    padding: 1em 0;
}

.subtitle {
    margin: 0 auto;
    width: 80%;
    line-height: 1.4em;
}

.main-grid {
    display: block;
    text-align: center;
    margin: 1em;
    font-size: 1.4em;
}

.main-col-heading {
    padding: 1em 0;
}

.main-col-text {
    text-align: left;
}

.bus-list {
    padding: 1em 0;
}

.bus-list ul {
    list-style: none;
    line-height: 1.4em;
}

.item {
    padding: 1em 0;
}

.item > h3 {
    padding: 0.5em 0;
}

.item-img img {
    border-radius: 50%;
}


/********* FORM STYLES **********/

.section-title {
    padding-top: 1rem;
}

.first-row {
    padding-top: 2rem;
}

.lower-row {
    padding-top: 0.8rem;
}

input,
textarea {
    padding: 0.5em;
    width: 100%;
}


/********* NAVBAR STYLING ***********/

.main-nav {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.nav-list {
    list-style-type: none;
    background-color: var(--primary-blue);
    display: block;
    margin: 0 auto;
}

.nav-list ul {
    display: block;
}

.nav-list li a {
    color: #fff;
    text-align: center;
    align-items: center;
    padding: 0.5em  0;
    text-decoration: none;
    font-size: 1.5em;
    display: block;
    width: 100%;
}

/************************** ABOUT PAGE STYLING *************************/

/* Question panels on accordion */

.about-content-wrapper {
    width: 90%;
    margin: 0 auto;
}

.about-heading {
    font-style: italic;
    color: var(--dark-gray);
    margin: 1em 0;
}

.about-image img {
    width: 100%;
}

.about-text {
    font-size: 1.2em;
}

.about-text h1,
.about-text h2 {
    text-align: center;
    margin: 1em 0;
}

.about-text ul,
.about-text ul li {
    margin-top: 1em;
    list-style: none;
}

/*********************** DONATE PAGE STYLING ***********************/

.donate-content-wrapper {
    width: 80%;
    margin: 0 auto;
    padding: 5em 0;
    font-size: 1.2em;
    line-height: 1.4em;
}

/*********************** PET DISPLAY PAGE STYLING ***********************/

.pet-display-page-wrapper {
    width: 80%;
    margin: 0 auto;
    padding-top: 1em;
    display: block;
    line-height: 1.5em;
}

.pet-display-page-wrapper h1 {
    text-align: center;
}

.pet-display-page-wrapper>p {
    font-size: 1.2em;
}

#firstRow {
    /* Starting container for pet display page */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: space-between;
}

.pet-image-div {
    height: 200px;
    align-content: center;
}

#firstRow>div {
    /* pet card Div */
    display: flex;
    height: auto;
    flex-flow: column nowrap;
    align-content: space-around;
    flex: 1 1 50%;
    text-align: center;
    padding: 0.5em;
    background-color: var(--light-blue);
    margin: 0.5em;
    padding-top: 1em;
    border-radius: 5%;
    line-height: 1.5;
    border-top: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-bottom: 4px solid lightgray;
    border-right: 4px solid lightgray;
}

.pet-name {
    padding-top: 1em;
    text-align: center;
}

#idNo {
    color: gray;
}

/* Image in petdiv card on display page */
.pet-image {
    max-width: 300px;
    height: 100%;
    margin: 0.5em 0;
    box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.pet-name {
    margin-top: 1em;
}

.pet-data {
    width: 80%;
    text-align: left;
    margin: 1em;
}

.pet-button a {
    color: white;
    text-decoration: none;
}


/**********  LIGHTBOX ON PET DISPLAY PAGE **********/

.black_overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .80;
    filter: alpha(opacity=80);
    overflow: hidden;
}

.white_content {
    display: none;
    position: fixed;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    padding: 16px;
    border: 5px solid var(--dark-gray);
    background-color: white;
    z-index: 1002;
    overflow-x: scroll;
}

.lb-img-div {
    margin: 0.5em;
    height: auto;
    justify-content: center;
    padding-bottom: 0.5em;
}

.lb-img img {
    max-height: 100%;
    max-width: 100%;
    padding: 10px;
}

.lb-desc {
    font-size: 1.15em;
    padding-top: 1em;
}


/* ADOPTION APPLICATION STYLING */


/************************** CONTACT PAGE STYLING *****************************/

.contact-content-wrapper {
    width: 90%;
    margin: 0 auto;
    padding-top: 1em;
}

.contact-grid {
    display: grid;
    justify-items: left;
}

.contact-title {
    grid-area: title;
    justify-self: center;
}

.contact-phone-icon {
    grid-area: phone-icon;
    justify-self: right;
    padding-right: 2em;
}

.contact-address-icon {
    grid-area: address-icon;
    justify-self: right;
    padding-right: 2em;
}

.contact-fax-icon {
    grid-area: fax-icon;
    justify-self: right;
    padding-right: 2em;
}

.contact-address-info,
.contact-fax-info,
.contact-phone-info {
    font-size: 20px;
}

.contact-phone-info {
    grid-area: phone-info;
    justify-self: left;
}

.contact-address-info {
    grid-area: address-info;
    justify-self: left;
}

.contact-fax-info {
    grid-area: fax-info;
    justify-self: left;
}

.message-box {
    grid-area: message;
    width: 100%;
}

.map-div {
    grid-area: map;
    text-align: center;
    align-self: center;
}

.contact-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "title title title" "address-icon address-info address-info" "phone-icon phone-info phone-info" "fax-icon fax-info fax-info" "message message message" "map map map";
    justify-items: left;
}

.info {
    font-size: 28px;
}

.message-box {
    margin-top: 1em;
}

#map-sm {
    display: block;
    margin: 1em 0;
    justify-content: center;
}

#map-md {
    display: none;
    justify-content: center;
    margin: 1em 0;
}

#map-lg {
    display: none;
    justify-content: center;
    margin: 1em 0;
}

/*************** HELP ACS PAGE STYLING ************************/

.help-content-wrapper {
    margin: 0 auto;
    width: 90%;
    margin-top: 1em;
}

.accordion-div {
    margin-top: 2em;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: 1em;
}

/* Bkgd color for question panel w/hover or active */

.acc-active,
.accordion:hover {
    background-color: #ccc;
}


/* Hidden panel below question heading */

.panel {
    padding: 1.5em;
    background-color: white;
    display: none;
    overflow: hidden;
}


/* FOOTER */

footer {
    width: 100%;
    margin: 0 auto;
    padding: 1.2em 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.soc-icons {
    flex-basis: 0 1 auto;
}


/* ALL soc icon styling */

.fa {
    margin: 1em 0.25em;
    padding: 10px;
    font-size: 20px;
    height: auto;
    width: 40px;
    text-align: center;
    text-decoration: none;
    box-sizing: content-box;
}


/* Soc Icon hover effect */

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-pinterest {
    background: #cb2027;
    color: white;
}