/********* VARIABLES ***********/

/********* BASIC STYLES ***********/
* {
    box-sizing: border-box;
}

.wrapper {
    width: 80%;
    margin: auto;
    padding: 10px;

}
/*
input {
    width: 80%;
}

input[type=text] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 5px;
}
*/

/********* COMPONENTS ***********/
button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

/********* ***********/
